:root {
  --main-color: #474A48;
  --main-dark-color: #2C302E;
  --secondary-color: #4392F1;
  --cta-color: #DC493A;
  --accent-color: #E7F0FF;
}
.App {
  text-align: center;
}

html, body {
  margin: 0;
}
header {
  width: 100vw;
  background-color: var(--secondary-color);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
#header-logo {
  height: 100%;
  padding: .5em 0;
  box-sizing: border-box;
}
header ul {
  width: 40%;
  list-style: none;
  display: flex;
  justify-content: center;
}
header ul li {
  width: 25%;
}
.main-content {
  background-color: var(--main-color);
  width: 100vw;
  height: 100vh;
} 